@media only screen and (max-width: 767px) {
	.top-section{
		display: flex;
		position: static;
		flex-direction: column;
		flex-wrap: wrap;
		height: inherit;
		justify-content: center;  
		align-items: center;
	} 
	.top-section >div {
		position: static; 
	} 
	.laptop{
		width: 300px;
	}
	.laptop .main-web iframe {
		transform: scale(0.18);
	}
	.laptop .main-web {
		position: relative;
		top: 16px;
		left: 38px;
	}
	.macbook{
		width: 300px;
	}
	.macbook .main-web { 
		top: 19px;
		left: 12px;
	}
	.macbook .main-web iframe {  
		transform: scale(0.172); 
	}
}
  